<template id="client-management">
    <div>
        <div style="margin-bottom: 20px">
            <el-button-group>
                <el-button type="primary" icon="el-icon-plus" v-on:click="showEditDialog()">Add</el-button>
                <el-button type="primary" icon="el-icon-edit" v-on:click="showEditDialog(selected)" :disabled="selected === undefined">Edit</el-button>
                <el-button type="primary" icon="el-icon-delete" v-on:click="deleteDialogVisible = true" :disabled="selected === undefined">Delete</el-button>
            </el-button-group>

            <el-input v-model="search" placeholder="Search" style="width: 200px" clearable>
                <template v-slot:prefix >
                    <i class="el-input__icon el-icon-search"></i>
                </template>
            </el-input>
        </div>
        
        <el-table ref="table" 
                  :data="searchResults"
                  border
                  height="85%"
                  highlight-current-row
                  v-on:current-change="selectedChange"
                  empty-text="No Data">
            <el-table-column prop="businessName" label="Business Name"></el-table-column>
            <el-table-column prop="businessCode" label="Business Code"></el-table-column>
            <el-table-column prop="password" label="Password"></el-table-column>
            <el-table-column prop="contactName" label="Contact Name"></el-table-column>
            <el-table-column prop="phone1" label="Phone 1"></el-table-column>
            <el-table-column prop="phone2" label="Phone 2"></el-table-column>
            <el-table-column prop="email" label="Email"></el-table-column>
            <el-table-column prop="assignedEmployeeName" label="Assigned Employee"></el-table-column>
        </el-table>

        <el-dialog :title="editDialogTitle" :visible.sync="editDialogVisible" width="50%">
            <el-form :model="editItem">
                <el-row :gutter="20">
                    <el-col :span="8">
                        <el-form-item label="Business Name">
                            <el-input v-model="editItem.businessName" placeholder="Business Name"></el-input>
                        </el-form-item>
                        <el-form-item label="Business Code *">
                            <el-input v-model="editItem.businessCode" placeholder="Business Code"></el-input>
                        </el-form-item>
                        <el-form-item label="Password *">
                            <el-input v-model="editItem.password" placeholder="Password"></el-input>
                        </el-form-item>                        
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="Contact Name">
                            <el-input v-model="editItem.contactName" placeholder="Contact Name"></el-input>
                        </el-form-item>
                        <el-form-item label="Phone 1">
                            <el-input v-model="editItem.phone1" placeholder="Phone 1"></el-input>
                        </el-form-item>
                        <el-form-item label="Phone 2">
                            <el-input v-model="editItem.phone2" placeholder="Phone 2"></el-input>
                        </el-form-item>                                                
                    </el-col>     
                    <el-col :span="8">
                        <el-form-item label="Email">
                            <el-input v-model="editItem.email" placeholder="Email"></el-input>
                        </el-form-item>
                        <el-form-item label="Data Forms in Use">
                            <el-select v-model="editItem.formsInUseIds" placeholder="Forms" no-data-text="No Data" multiple collapse-tags filterable>
                                <el-option v-for="form in forms" :key="form.id" :label="form.name" :value="form.id"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="Assigned Employee *">
                            <el-select v-model="editItem.assignedEmployeeId" placeholder="Employee" no-data-text="No Data" filterable>
                                <el-option v-for="employee in employees" :key="employee.id" :label="employee.name" :value="employee.id"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>

            <el-alert v-if="editDialogError !== undefined" :title="editDialogError" type="error" style="margin-bottom: 20px" :closable="false"></el-alert>

            <template v-slot:footer>
                <div class="dialog-footer">
                    <el-button v-on:click="editDialogVisible = false">Cancel</el-button>
                    <el-button type="primary" v-on:click="editDialogSubmit">Submit</el-button>
                </div>
            </template>
        </el-dialog>

        <el-dialog :title="deleteDialogTitle" :visible.sync="deleteDialogVisible" width="20%">
            <span>{{deleteDialogMessage}}</span>
            <template v-slot:footer>
                <span class="dialog-footer">
                    <el-button v-on:click="deleteDialogVisible = false">Cancel</el-button>
                    <el-button type="primary" v-on:click="deleteDialogConfirm">Confirm</el-button>
                </span>
            </template>
            
        </el-dialog>
    </div>
</template>

<script>
    Vue.component("client-management", {
        template: "#client-management",
        data: function() {
            return {
                selected: undefined,
                items: [],
                search: "",
                editDialogVisible: false,
                editDialogTitle: "",
                editDialogError: undefined,
                editItem: {},
                deleteDialogVisible: false,
                deleteDialogTitle: "Delete Client",
                deleteDialogMessage: "Are you sure to delete this client?",
                employees: [],
                forms: [],
            };
        },
        beforeMount: function() {
            this.refreshData();
        },
        methods: {
            refreshData: function() {
                fetch("/api/Clients")
                    .then(res => res.json())
                    .then(data => this.items = data);
                fetch("/api/Employees")
                    .then(res => res.json())
                    .then(data => this.employees = data);
                fetch("/api/DataForms")
                    .then(res => res.json())
                    .then(data => this.forms = data); 
            },
            selectedChange: function(item) {
                this.selected = item;
            },
            showEditDialog: function(item) {
                this.editDialogVisible = true;
                this.editItem = {};
                if(item === undefined || item.id === undefined) {
                    this.editDialogTitle = "Add Client";
                } else {
                    this.editDialogTitle = "Edit Client";
                    this.editItem = Vue.util.extend({}, item);
                } 
            },
            editDialogSubmit: function() {
                if(!this.validateItem(this.editItem))
                    return;

                var body = JSON.stringify(this.editItem);
                if(this.editItem.id === undefined) {                  
                    fetch("/api/Clients/Create", {
                        method: "post",
                        headers: {
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        body: body
                    }).then(res => this.refreshData());
                }
                else {
                    fetch("/api/Clients/Update", {
                        method: "post",
                        headers: {
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        body: body
                    }).then(res => this.refreshData());
                }

                this.editItem = {};
                this.editDialogVisible = false;
            },
            deleteDialogConfirm: function() {
                fetch("/api/Clients/Delete/" + this.selected.id)
                    .then(res => this.refreshData());

                this.$refs.table.setCurrentRow();
                this.selected = undefined;
                this.deleteDialogVisible = false;
            },
            validateItem: function(item) {
                this.editDialogError = undefined;

                if(item.businessCode === undefined || item.businessCode.length === 0 ||
                   item.password === undefined || item.password.length === 0 ||
                   item.assignedEmployeeId === undefined) {
                    this.editDialogError = "Please fill in missing required fields";
                    return false;
                }

                if(this.items.filter(function(x) { return x.id !== item.id && x.businessCode === item.businessCode; }).length > 0) {
                    this.editDialogError = "There is another client with the same Business Code";
                    return false;   
                }

                return true;
            },
        },
        computed: {
            searchResults: function() {
                var search = this.search;
                return this.items.filter(function(item) {
                    if(search === undefined || search === "")
                        return true;

                    return item.businessName.toLowerCase().includes(search.toLowerCase()) ||
                           item.businessCode.toLowerCase().includes(search.toLowerCase()) ||
                           item.contactName.toLowerCase().includes(search.toLowerCase()) ||
                           item.phone1.toLowerCase().includes(search.toLowerCase()) ||
                           item.phone2.toLowerCase().includes(search.toLowerCase()) ||
                           item.email.toLowerCase().includes(search.toLowerCase());
                });
            }
        }
    });
</script>