<template id="data-form-management">
    <div>
        <div style="margin-bottom: 20px">
            <el-select v-model="selectedFormName" no-data-text="No Data" placeholder="Forms">
                <el-option v-for="form in forms" :key="form.id" :label="form.name" :value="form.name"></el-option>
            </el-select>
            <el-button-group>
                <el-button type="primary" icon="el-icon-plus" v-on:click="showEditFormDialog()">Add Form</el-button>
                <el-button type="primary" icon="el-icon-edit" v-on:click="showEditFormDialog(selectedFormName)" :disabled="selectedFormName === undefined">Edit Form</el-button>
                <el-button type="primary" icon="el-icon-delete" v-on:click="deleteFormDialogVisible = true" :disabled="selectedFormName === undefined">Delete Form</el-button>
            </el-button-group>            
        </div>

        <div v-if="selectedForm" style="margin-bottom: 20px">
            <el-button-group>
                <el-button type="primary" icon="el-icon-plus" v-on:click="showEditFieldDialog()">Add Field</el-button>
                <el-button type="primary" icon="el-icon-edit" v-on:click="showEditFieldDialog(selectedField)" :disabled="selectedField === undefined || selectedField === null">Edit Field</el-button>
                <el-button type="primary" icon="el-icon-delete" v-on:click="deleteFieldDialogVisible = true" :disabled="selectedField === undefined || selectedField === null">Delete Field</el-button>
            </el-button-group>
        </div>

        <el-table v-if="selectedForm" 
                  ref="table" 
                  :data="fields" 
                  border 
                  height="85%" 
                  highlight-current-row 
                  v-on:current-change="selectedFieldChange"
                  empty-text="No Data">
            <el-table-column prop="name" label="Name"></el-table-column>
            <el-table-column prop="type" label="Type">
                <template v-slot="scope">
                    <span>{{ getFieldTypeName(scope.row.type) }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="isRequired" label="Required?">
                <template v-slot="scope">
                    <i v-if="scope.row.isRequired" class="el-icon-check" style="color: red"></i>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog :title="editFormDialogTitle" :visible.sync="editFormDialogVisible" width="25%">
            <el-form :model="editForm">
                <el-form-item label="Name *">
                    <el-input v-model="editForm.name" placeholder="Name"></el-input>
                </el-form-item>
            </el-form>

            <el-alert v-if="editFormDialogError !== undefined" :title="editFormDialogError" type="error" style="margin-bottom: 20px" :closable="false"></el-alert>

            <template v-slot:footer>
                <div class="dialog-footer">
                    <el-button v-on:click="editFormDialogVisible = false">Cancel</el-button>
                    <el-button type="primary" v-on:click="editFormDialogSubmit">Submit</el-button>
                </div>
            </template>
        </el-dialog>

        <el-dialog title="Delete Form" :visible.sync="deleteFormDialogVisible" width="20%">
            <span>Are you sure to delete this form?</span>
            <template v-slot:footer>
                <span class="dialog-footer">
                    <el-button v-on:click="deleteFormDialogVisible = false">Cancel</el-button>
                    <el-button type="primary" v-on:click="deleteFormDialogConfirm">Confirm</el-button>
                </span>
            </template>
        </el-dialog>

        <el-dialog :title="editFieldDialogTitle" :visible.sync="editFieldDialogVisible" width="25%">
            <el-form :model="editField">
                <el-form-item label="Name *">
                    <el-input v-model="editField.name" placeholder="Name"></el-input>
                </el-form-item>
                <el-form-item label="Type">
                    <el-select v-model="editField.type">
                        <el-option v-for="type in fieldTypes" :key="type.type" :label="type.name" :value="type.type"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Required?">
                    <el-switch v-model="editField.isRequired"></el-switch>
                </el-form-item>
            </el-form>

            <el-alert v-if="editFieldDialogError !== undefined" :title="editFieldDialogError" type="error" style="margin-bottom: 20px" :closable="false"></el-alert>

            <template v-slot:footer>
                <div class="dialog-footer">
                    <el-button v-on:click="editFieldDialogVisible = false">Cancel</el-button>
                    <el-button type="primary" v-on:click="editFieldDialogSubmit">Submit</el-button>
                </div>
            </template>
        </el-dialog>

        <el-dialog title="Delete Field" :visible.sync="deleteFieldDialogVisible" width="20%">
            <span>Are you sure to delete this field?</span>
            <template v-slot:footer>
                <span class="dialog-footer">
                    <el-button v-on:click="deleteFieldDialogVisible = false">Cancel</el-button>
                    <el-button type="primary" v-on:click="deleteFieldDialogConfirm">Confirm</el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script>
    Vue.component("data-form-management", {
        template: "#data-form-management",
        data: function() {
            return {
                selectedFormName: undefined,
                forms: [],

                editForm: {},
                editFormDialogTitle: "",
                editFormDialogVisible: false,
                deleteFormDialogVisible: false,
                editFormDialogError: undefined,

                selectedField: undefined,
                editField: {},
                editFieldDialogTitle: "",
                editFieldDialogVisible: false,
                deleteFieldDialogVisible: false,
                editFieldDialogError: undefined,

                fieldTypes: [],
            }
        },
        beforeMount: function() {
            fetch("/api/Lists/FieldTypes")
                .then(res => res.json())
                .then(data => this.fieldTypes = data);

            this.refreshData();
        },
        methods: {
            refreshData: function(formName) {
                fetch("/api/DataForms")
                    .then(res => res.json())
                    .then(data => {
                        this.forms = data;
                        this.selectedFormName = formName != undefined ? formName : this.forms[0].name;
                    });
            },
            selectedFieldChange: function(field) {
                this.selectedField = field;
            },
            showEditFormDialog: function(formName) {
                this.editFormDialogVisible = true;
                this.editForm = {};
                if(formName === undefined)
                    this.editFormDialogTitle = "Add Form";
                else {
                    this.editFormDialogTitle = "Edit Form";
                    this.editForm = Vue.util.extend({}, this.selectedForm);
                }  
            },
            editFormDialogSubmit: function() {
                if(!this.validateEditForm(this.editForm))
                    return;

                var formName = this.editForm.name;
                var body = JSON.stringify(this.editForm);
                if(this.editForm.id === undefined) {
                    fetch("/api/DataForms/Create", {
                        method: "post",
                        headers: {
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        body: body
                    }).then(res => this.refreshData(formName));
                } else {
                    fetch("/api/DataForms/Update", {
                        method: "post",
                        headers: {
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        body: body
                    }).then(res => this.refreshData(formName));
                }

                this.editForm = {};
                this.editFormDialogVisible = false;
            },
            deleteFormDialogConfirm: function() {
                fetch("/api/DataForms/Delete/" + this.selectedForm.id)
                    .then(res => this.refreshData());
                this.deleteFormDialogVisible = false;
            },
            validateEditForm: function(form) {
                this.editFormDialogError = undefined;

                if(form.name === undefined || form.name.length === 0) {
                    this.editFormDialogError = "Please fill in missing required field";
                    return false;
                }

                if(this.forms.filter(function(x) { return x.id !== form.id && x.name === form.name; }).length > 0) {
                    this.editFormDialogError = "There is another form with the same name";
                    return false;
                }

                return true;
            },
            showEditFieldDialog: function(field) {
                this.editFieldDialogVisible = true;
                this.editField = {};
                if(field === undefined || field === null || field.id === undefined) {
                    this.editFieldDialogTitle = "Add Field";
                    this.editField = { name: "", type: 0, isRequired: false };
                }
                else {
                    this.editFieldDialogTitle = "Edit Field";
                    this.editField = Vue.util.extend({}, this.selectedField);
                }
            },
            editFieldDialogSubmit: function() {
                if(!this.validateEditField(this.editField))
                    return;

                fetch("/api/DataFields/AddOrUpdateToForm/" + this.selectedForm.id, {
                    method: "post",
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(this.editField)
                }).then(res => this.refreshData(this.selectedFormName));

                this.editField = {};
                this.editFieldDialogVisible = false;
            },
            deleteFieldDialogConfirm: function() {
                fetch("/api/DataFields/Delete/" + this.selectedField.id)
                    .then(res => this.refreshData(this.selectedFormName));

                this.$refs.table.setCurrentRow();
                this.selectedField = undefined;
                this.deleteFieldDialogVisible = false;
            },
            validateEditField: function(field) {
                this.editFieldDialogError = undefined;

                if(field.name === undefined || field.name.length === 0) {
                    this.editFieldDialogError = "Please fill in missing required field";
                    return false;
                }

                if(this.fields.filter(function(x) { return x.id !== field.id && x.name === field.name; }).length > 0) {
                    this.editFieldDialogError = "There is another field with the same name";
                    return false;
                }

                return true;
            },
            getFieldTypeName: function(type) {
                return this.fieldTypes.filter(function(x) { return x.type === type; })[0].name;
            }
        },
        computed: {
            fields: function() {
                return this.selectedForm !== undefined ? this.selectedForm.fields : [];
            },
            selectedForm: function() {
                var selectedFormName = this.selectedFormName;
                return this.forms.filter(function(x) { return x.name == selectedFormName;})[0];
            }
        }
    });
</script>