<template id="employee-management">
    <div>
        <div style="margin-bottom: 20px">
            <el-button-group>
                <el-button type="primary" icon="el-icon-plus" v-on:click="showEditDialog()">Add</el-button>
                <el-button type="primary" icon="el-icon-edit" v-on:click="showEditDialog(selected)" :disabled="selected === undefined">Edit</el-button>
                <el-button type="primary" icon="el-icon-delete" v-on:click="deleteDialogVisible = true" :disabled="selected === undefined">Delete</el-button>
            </el-button-group>

            <el-input v-model="search" placeholder="Search" style="width: 200px" clearable>
                <template v-slot:prefix>
                    <i class="el-input__icon el-icon-search"></i>
                </template>
            </el-input>
        </div>
        
        <el-table ref="table" 
                  :data="searchResults" 
                  border 
                  height="85%" 
                  highlight-current-row 
                  v-on:current-change="selectedChange"
                  empty-text="No Data">
            <el-table-column prop="name" label="Employee Name"></el-table-column>
            <el-table-column prop="email" label="Email"></el-table-column>
        </el-table>

        <el-dialog :title="editDialogTitle" :visible.sync="editDialogVisible" width="30%">
            <el-form :model="editItem">
                <el-form-item label="Employee Name *">
                    <el-input v-model="editItem.name" placeholder="Employee Name"></el-input>
                </el-form-item>
                <el-form-item label="Email *">
                    <el-input v-model="editItem.email" placeholder="Email"></el-input>
                </el-form-item>            
            </el-form>

            <el-alert v-if="editDialogError !== undefined" :title="editDialogError" type="error" style="margin-bottom: 20px" :closable="false"></el-alert>

            <template v-slot:footer>
                <div class="dialog-footer">
                    <el-button v-on:click="editDialogVisible = false">Cancel</el-button>
                    <el-button type="primary" v-on:click="editDialogSubmit">Submit</el-button>
                </div>
            </template>
        </el-dialog>

        <el-dialog :title="deleteDialogTitle" :visible.sync="deleteDialogVisible" width="20%">
            <span>{{deleteDialogMessage}}</span>
            <template v-slot:footer>
                <span class="dialog-footer">
                    <el-button v-on:click="deleteDialogVisible = false">Cancel</el-button>
                    <el-button type="primary" v-on:click="deleteDialogConfirm">Confirm</el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script>
    Vue.component("employee-management", {
        template: "#employee-management",
        data: function() {
            return {
                selected: undefined,
                items: [],
                search: "",
                editDialogVisible: false,
                editDialogTitle: "",
                editDialogError: undefined,
                editItem: {},
                deleteDialogVisible: false,
                deleteDialogTitle: "Delete Employee",
                deleteDialogMessage: "Are you sure to delete this employee?"
            };
        },
        beforeMount: function() {
            this.refreshData();
        },
        methods: {
            refreshData: function() {
                fetch("/api/Employees")
                    .then(res => res.json())
                    .then(data => this.items = data);
            },
            selectedChange: function(item) {
                this.selected = item;
            },
            showEditDialog: function(item) {
                this.editDialogVisible = true;
                this.editItem = {};
                if(item === undefined || item.id === undefined) {
                    this.editDialogTitle = "Add Employee";
                } else {
                    this.editDialogTitle = "Edit Employee";
                    this.editItem = Vue.util.extend({}, item);
                } 
            },
            editDialogSubmit: function() {
                if(!this.validateItem(this.editItem))
                    return;

                var body = JSON.stringify(this.editItem);
                if(this.editItem.id === undefined) {                  
                    fetch("/api/Employees/Create", {
                        method: "post",
                        headers: {
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        body: body
                    }).then(res => this.refreshData());
                }
                else {
                    fetch("/api/Employees/Update", {
                        method: "post",
                        headers: {
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        body: body
                    }).then(res => this.refreshData());
                }

                this.editItem = {};
                this.editDialogVisible = false;
            },
            deleteDialogConfirm: function() {
                fetch("/api/Employees/Delete/" + this.selected.id)
                    .then(res => this.refreshData());

                this.$refs.table.setCurrentRow();
                this.selected = undefined;
                this.deleteDialogVisible = false;
            },
            validateItem: function(item) {
                this.editDialogError = undefined;

                if(item.name === undefined || item.name.length === 0 ||
                   item.email === undefined || item.email.length === 0) {
                    this.editDialogError = "Please fill in missing required fields";
                    return false;
                }

                if(this.items.filter(function(x) { return x.id !== item.id && (x.name === item.name || x.email === item.email); }).length > 0) {
                    this.editDialogError = "There is another employee with the same name/email";
                    return false;
                }

                return true;
            },
        },
        computed: {
            searchResults: function() {
                var search = this.search;
                return this.items.filter(function(item) {
                    if(search === undefined || search === "")
                        return true;

                    return item.name.toLowerCase().includes(search.toLowerCase()) ||
                           item.email.toLowerCase().includes(search.toLowerCase());
                });
            }
        }
    });
</script>