@{
    ViewData["Title"] = "Admin";
}

@section Components {
    @Html.Partial("Components/ClientManagement.cshtml")
    @Html.Partial("Components/EmployeeManagement.cshtml")
    @Html.Partial("Components/DataFormManagement.cshtml")
}

<link rel="stylesheet" href="~/css/admin.css">

<div id="admin">
    <el-container style="height: 100vh">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu default-active="client-management" v-on:select="selectMenu">
                <el-menu-item index="client-management">
                    <i class="el-icon-user"></i>
                    <span>Clients</span>
                </el-menu-item>
                <el-menu-item index="employee-management">
                    <i class="el-icon-user-solid"></i>
                    <span>Employees</span>
                </el-menu-item>
                <el-menu-item index="data-form-management">
                    <i class="el-icon-document"></i>
                    <span>Data Forms</span>
                </el-menu-item>
                <el-menu-item index="logout">
                    <i class="el-icon-d-arrow-left"></i>
                    <span>Logout</span>
                </el-menu-item>
            </el-menu>
        </el-aside>

        <el-main>
            <component :is="selectedMenu" class="page"></component>
        </el-main>
    </el-container>

</div>

<script>
    new Vue({
        el: "#admin",
        data: {
            selectedMenu: "client-management",
        },
        methods: {
            selectMenu: function(index) {
                if(index == "logout") {
                    window.location.href = "/Home/Logout"
                    return;
                }
                this.selectedMenu = index;
            },
        }
    })
</script>