@{
    ViewData["Title"] = "Client";
}

<div id="client">
    <el-container style="height: 100vh">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu v-on:select="selectMenu">
                <el-menu-item v-for="form in forms" :index="form.id.toString()">{{form.name}}</el-menu-item>

                <el-menu-item index="logout">
                    <i class="el-icon-d-arrow-left"></i>
                    <span>Logout</span>
                </el-menu-item>
            </el-menu>
        </el-aside>

        <el-main>
            <div v-if="selectedForm === undefined">
                {{ forms.length === 0 ? "No forms assigned to you. Please contact our admin." : "Please select a form." }}
            </div>
            <div v-else style="height: 100%">
                <el-form>
                    <el-form-item v-for="field in selectedForm.fields" :label="getFieldLabel(field)">
                        <el-input v-if="isFieldType(field.type, 'Text')" v-model="field.answer" :placeholder="field.name"></el-input>

                        <el-input-number v-if="isFieldType(field.type, 'Number')" v-model="field.answer" :placeholder="field.name"></el-input-number>

                        <div v-if="isFieldType(field.type, 'Date')">
                            <el-date-picker v-model="field.answer" :placeholder="field.name" format="M/d/yyyy" value-format="M/d/yyyy"></el-date-picker>
                            <el-button v-on:click="field.answer = '1/1/1900'" style="margin-left: 10px">Today</el-button>
                            <el-button v-on:click="field.answer = '9/9/9999'">When Printed</el-button>
                        </div>

                        <el-select v-if="isFieldType(field.type, 'State')" v-model="field.answer" :placeholder="field.name" filterable>
                            <el-option v-for="state in states" :key="state.abbrev" :label="state.name" :value="state.abbrev"></el-option>
                        </el-select>
                        
                        <div v-if="isFieldType(field.type, 'Tax ID')" >
                            <el-input v-model="field.answer" :placeholder="field.name"></el-input>
                            <el-switch v-model="field.exempt" active-text="Exempt" v-on:change="setExemptTaxId(field)"></el-switch>
                        </div>
                        
                        <el-input v-if="isFieldType(field.type, 'Long Text')" v-model="field.answer" :placeholder="field.name" type="textarea"></el-input>
                    </el-form-item>

                    <el-alert v-if="error !== undefined" :title="error" type="error" style="margin-bottom: 20px" :closable="false"></el-alert>

                    <el-form-item>
                        <el-button type="primary" v-on:click="onSubmit">Submit</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-main>
    </el-container>
</div>

<script>
    new Vue({
        el: "#client",
        data: {
            error: undefined,
            forms: [],
            selectedForm: undefined,
            fieldTypes: [],
            states: [],
            employee: undefined,
        },
        beforeMount: function() {
            fetch("/api/Lists/FieldTypes")
                .then(res => res.json())
                .then(data => this.fieldTypes = data);
            fetch("/api/Lists/States")
                .then(res => res.json())
                .then(data => this.states = data);
            fetch("/api/Clients/GetForms/")
                .then(res => res.json())
                .then(data => this.forms = data);
            fetch("/api/Clients/GetAssignedEmployee/")
                .then(res => res.json())
                .then(data => this.employee = data);
        },
        methods: {
            selectMenu: function(index) {
                if(index == "logout") {
                    window.location.href = "/Home/Logout"
                    return;
                }
                this.selectedForm = this.forms.filter(function(x) { return x.id.toString() === index })[0];
            },
            onSubmit: function() {
                this.error = undefined;
                var missingRequiredFields = this.selectedForm.fields.filter(function(x) { return x.isRequired && (x.answer === undefined || x.answer.length === 0) });
                if (missingRequiredFields.length > 0) {
                    this.error = "Please fill in missing required fields";
                    return;
                }
                var answers = this.selectedForm.fields.map(function(x) { return { name: x.name, answer: x.answer, type: x.type }});
                this.sendEmail(answers);
            },
            isFieldType: function(type, typeName) {
                if(this.fieldTypes.length === 0)
                    return false;
                return typeName === this.fieldTypes.filter(function(x) { return x.type === type; })[0].name;
            },
            getFieldLabel: function(field) {
                return field.isRequired ? field.name + " *" : field.name;
            },
            setExemptTaxId: function(field) {
                field.answer = field.exempt ? "000-00-0000" : "";
            },
            sendEmail: function(answers) {
                var self = this;
                var body = "";
                answers.forEach(function(answer) {
                    var _answer = answer.answer !== undefined ? answer.answer : "";
                    var _tab = "   ";

                    body += _tab + answer.name + ":" + _tab;
                    if(self.isFieldType(answer.type, "Long Text"))
                        body += "\n" + _tab + _tab + _answer + "\n\n";
                    else
                        body += _answer + "\n";
                });

                fetch("/api/Utils/SendEmail", {
                    method: "post",
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ subject: this.selectedForm.name, body: body, hasGreetings: false })
                }).then(res => self.selectedForm.fields.forEach(function(x) {
                    x.answer = undefined;
                }));
            }
        },
    });
</script>