@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css">

<div id="login">
    <el-row :gutter="20" :style="{ marginTop: '10%' }">
        <el-col :span="6" :offset="9">
            <el-form :class="[ 'login-box' ]">
                <el-form-item :label="userNameLabel">
                    <el-input v-model="username" :placeholder="userNameLabel" :class="{ 'error-input': usernameError }"></el-input>
                </el-form-item>

                <el-form-item label="Password">
                    <el-input v-model="password" type="password" placeholder="Password" :class="{ 'error-input': passwordError }"></el-input>
                </el-form-item>

                <el-form-item label="Log in as">
                    <el-radio-group v-model="userType">
                        <el-radio label="client">Client</el-radio>
                        <el-radio label="admin">Admin</el-radio>
                    </el-radio-group>
                </el-form-item>  

                <el-alert v-if="error !== undefined" :title="error" type="error" style="margin-bottom: 20px" :closable="false"></el-alert>

                <el-form-item>
                    <el-button type="primary" v-on:click="onSubmit" :style="{ width: '100%' }">Login</el-button>
                </el-form-item>
                
            </el-form>
        </el-col>
    </el-row>
    
</div>

<script>
    new Vue({
        el: "#login",
        data: {
            userType: "client",
            username: "",
            password: "",
            usernameError: false,
            passwordError: false,
            error: undefined
        },
        methods: {
            onSubmit: function() {
                if(this.username.length === 0)
                    this.usernameError = true;
                if(this.password.length === 0)
                    this.passwordError = true;

                if(this.usernameError || this.passwordError)
                    return;

                this.error = undefined;
                fetch("/Home/Login", {
                    method: "post",
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ username: this.username, password: this.password, isAdmin: this.userType === "admin" })
                })
                .then(res => res.json())
                .then(result => {
                    console.log(result);
                    if(result.success)
                        window.location.href = result.redirectTo;
                    else
                        this.error = result.error;
                });
            }
        },
        computed: {
            userNameLabel: function() {
                return this.userType === "client" ? "Business Code" : "Admin"
            }
        },
        watch: {
            username: function(val) {
                if(this.usernameError && val.length > 0)
                    this.usernameError = false;
            },
            password: function(val) {
                if(this.passwordError && val.length > 0)
                    this.passwordError = false;
            }
        }
    })
</script>